.case-study-page {
  display: inline-flex;
  padding: 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 160px;
}

.case-study-title {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.case-study-title-img-container {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.case-study-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.case-study-img {
  height: 600px;
  align-self: stretch;
  border-radius: 48px;
  background: #2278e8;
}
.case-study-img2 {
  height: 600px;
  align-self: stretch;
  border-radius: 48px;
  background: #f18a35;
}
.background-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  align-self: stretch;
}
.background-section-title {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.frame51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.frame49 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}
.medium-text {
  color: #999;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.value-text {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.frame50 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.frame87 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.icon-size {
  width: 56px;
  height: 56px;
}
.icon-label {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.frame69 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  max-width: 720px;
}
.app-img-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}
.section-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.background-section-text-content {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.24px;
}
.frame84 {
  display: flex;
  align-items: center;
  gap: 32px;
}
.frame60 {
  height: 314px;
  align-self: stretch;
  border-radius: 24px;
  display: flex;
  gap: 32px;
  /* background: rgba(255, 255, 255, 0.2); */
}
.heading2 {
  color: #1a1a1a;
  text-align: center;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.list-heading{
  color: #1A1A1A;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}
.frame62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}
.extra-large-text {
  color: #3b3b3b;

  /* Extra large text */
  font-family: "Clash Display Variable";
  font-size: 160px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.case-tile-cont {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.case-tile-1 {
  display: flex;
  padding: 24px 24px 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 48px;
  background: #f2f5f7;
}
.case-tile-head-1 {
  color: #1977ce;
  font-family: Figtree;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.case-tile-subhead-1 {
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.24px;
}
.case-tile-2 {
  display: flex;
  padding: 24px 24px 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 48px;
  background: #fcf4ed;
}
.case-tile-head-2 {
  color: #f18a35;
  font-family: Figtree;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.tile-section-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.frame112 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.frame94 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.frame94-2 {
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.frame90 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.pointer-icon {
  width: 24px;
  height: 24px;
}
.frame95 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.research-card {
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 24px;
  background: #14171a;
}
.frame96 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.frame-goals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 24px 24px;
  position: relative;
  background-color: #1e2125;
  border-radius: 24px;
}

.frame-goals .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  color: #666666;
  font-size: 32px;
  font-family: "Clash Display Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.frame-goals .div {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-3-font-family);
  font-weight: var(--heading-3-font-weight);
  color: #ffffff;
  font-size: var(--heading-3-font-size);
  letter-spacing: var(--heading-3-letter-spacing);
  line-height: var(--heading-3-line-height);
  font-style: var(--heading-3-font-style);
}

.frame-brain {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  padding: 80px 0px;
}

.frame-brain .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 24px;
}

.frame-brain .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame-brain .solar-black-hole {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-brain .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: #ffffff;
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.frame-brain .taking-into-account {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans-Light", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.frame-brain .span {
  font-weight: var(--body-font-weight);
  color: #999999;
  letter-spacing: var(--body-letter-spacing);
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
}

.frame-brain .text-wrapper-2 {
  font-family: "DM Sans-Bold", Helvetica;
  /* font-weight: 700; */
  color: #ffffff;
  letter-spacing: 0.03px;
}

.frame-brain .div-3 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 314px;
  background-color: #ffffff33;
  border-radius: 24px;
}

.ideation-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.ideation-imges > img {
  width: 100%;
}

.tags {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  background: #f2f5f7;
  color: #4281ff;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tag-container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.see-more {
  color: #1977ce;
  font-family: Figtree;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.pointer:hover {
  cursor: pointer;
}
