.home-bg {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Figtree;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.subtitle {
  color: #666;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.36px;
  max-width: 980px;
}
.title-box {
  display: flex;
  /* height: 100vh; */
  padding: 80px;
  padding-top: 150px;
  flex-direction: column;
  align-items: start;
  align-self: stretch;
  gap: 200px;
  z-index: 2;
}
.profile-img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background: url("../assets/images/img-02111.png"),
    lightgray -15.182px -13.358px / 181% 120.681% no-repeat;
  border-radius: 50%;
}

.skill-card {
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: #f2f5f7;
}
.skill-title {
  color: #666;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.skill-icon {
  width: 36px;
  height: 36px;
}
.section-title {
  color: #000;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 32px;
}
.about-description {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  align-self: stretch;
  border-radius: 48px;
  background: #f2f5f7;
  color: #1a1a1a;
  font-family: Figtree;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 131.25% */
  padding-bottom: 32px;
}
.carousel-box {
  display: flex;
  height: 360px;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 48px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat, #f2f5f7; */
}
