.navigation-bar {
  display: flex;
  padding: 16px 64px;
  gap: 80px;
  background: #040404;
  backdrop-filter: blur(16px);
  width: 100%;
  justify-content: space-around;
  position: sticky;
  top: 0;
  margin: auto;
  z-index: 11;
  /* border: 1px solid red; */
}
.navigation-button {
  color: #fff;
  text-align: center;
  font-family: Clash Display Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
