.project-header-container {
  display: flex;
  padding: 80px 0px 0px 72px;
  align-items: flex-start;
  gap: 12px;
}
.project-header {
  color: #fff;
  text-align: center;
  font-family: Clash Display Variable;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 112.5% */
  letter-spacing: 0.64px;
}
.project-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 64px 72px 120px 72px;
  gap: 64px 32px;
}
.project-card {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 24px;
  border-bottom: 0.25px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  gap: 24px;
}

.project-card-img {
  width: 100%;
  height: 360px;
  border-radius: 12px;
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card-content-side {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}
.project-card-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.project-title {
  color: #ff9832;
  text-align: center;
  font-family: Clash Display Variable;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.project-subtitle {
  color: #999;
  text-align: center;
  font-family: Clash Display Variable;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}
.project-description {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.view-project-button {
  border-radius: 12px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px);
  display: flex;
  width: 200px;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Clash Display Variable;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}
.project-card:hover {
  border-radius: 24px;
  border-bottom: 0.25px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px);
  cursor: pointer;
  .view-project-button {
    border-radius: 12px;
    background: #db8229;
    backdrop-filter: blur(32px);
  }
}
