.project-header-container {
  display: flex;
  padding: 80px 0px 0px 72px;
  align-items: flex-start;
  gap: 12px;
}
.project-header {
  color: #000;

  text-align: center;
  font-family: Figtree;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-card-container {
  display: flex;
  padding: 100px 80px 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}
.project-card {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 48px;
  background: #f2f5f7;
}
.project-card:hover {
  cursor: pointer;
}
.project-card-img {
  height: 400px;
  flex: 1 0 0;
  border-radius: 32px;
}
.project-card-content-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}
.project-card-content-div {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.project-title {
  color: #1a1a1a;

  font-family: Figtree;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-subtitle {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  background: #fff;
}
.project-description {
  color: #1a1a1a;

  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
