.background-img {
  background-image: url("./assets/construction.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage {
  width: 100%;
  height: 100vh;
  font-family: Clash Display Variable;
  font-style: normal;
  color: #fff;
}
