.background-img {
  background-image: url("./assets/construction.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
}
.homepage {
  width: 100%;
  font-family: "ClashDisplay";
  font-style: normal;
}
