@font-face {
  font-family: "Clash Display Variable";
  src: url("./fonts/ClashDisplay-Variable.ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./fonts/PlusJakartaSans-Regular.ttf");
}
body {
  margin: 0;
  font-family: Clash Display Variable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
